/* extra small screen */
@media screen and (max-width: 575px) {
  .container {
    padding: 0 15px;
  }

  /* banner section */

  .banner-rating {
    left: 5%;
    transform: translateX(5%);
  }
}

/* small screen */
@media screen and (min-width: 576px) and (max-width: 767px) {
}

/* medium screen */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* ==================================================================== 
                      large scree starts 
==================================================================== */

/* large screen */
@media screen and (min-width: 992px) and (max-width: 1199px) {
}

/* extra large screen */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* min width 1200px */
@media screen and (min-width: 1200px) {
}

/* x-extra large screen */
@media screen and (min-width: 1400px) {
}
