/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@500;600&family=Poppins&display=swap");

/* css variables */
:root {
  --bg-gradient: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
}

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 200ms;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*
font-family: 'Bebas Neue', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
*/
