/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Poppins&family=Roboto:wght@700&display=swap");

/* css variables */
:root {
  --bg-gradient: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  --dark-color: #1c1c1c;
  --text-color: #777777;
}

/* utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  font-family: "Gloock", serif;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  color: var(--dark-color);
}

p {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 200ms;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.icon,
button span {
  background: var(--bg-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* banner section starts */
.banner-rating {
  left: 10%;
  transform: translateX(10%);
}
/* banner section ends */
/* tea presentation section starts */
.presentation-image {
  background-color: rgba(87, 118, 57, 0.1);
}
/* tea presentation section ends */
/* testimonial section */
.super-client,
.active-client-box {
  max-width: 450px;
}

.active-client-box {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.client-box img {
  transform: translate(-32px, -32px);
}

.client-name {
  font-family: "Roboto", sans-serif;
}

/* footer section starts */
.footer-section ul li {
  font-family: "Poppins", sans-serif;
}
/*
font-family: 'Gloock', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
